#title{
    color: white;
    background-color: #ff4c68;
    
}

h1{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    
}

.container-fluid{
    padding: 3% 15% 2%;
}

body{
    font-family: "Montserrat";
    font-weight: 400;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar{
    color: white;
    background-color: #ff4c68;
    padding:0px 100px 0px 100px;
    margin-bottom: 10%;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}

.download-button{
    margin: 5% auto;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 135px;
}

#features{
    padding: 8% 15%;
    background-color: white;
    position: relative;
}

h3{
    font-weight: bold;
}

.feature-work{
    text-align: center;
}

p{
    margin: 15px 40px;
}

.icon{
    color: #ef8172;
    margin: 20px 0px;
}

.icon:hover{
    color:#ff4c68;
}

.text{
    text-align: center;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
}

h2{
    font-family: "Montserrat";
    font-weight: 900;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

#press{
    background-color: #ef8172;
    padding-bottom: 5%;
    text-align: center;    
}

.press-img{
    width: 15%;
    margin: 0 2%;
}

.carousel-item{
    padding: 7% 15%;
   
}

.h2{
    color: black;
}

.card{
    text-align: center;
}

#pricing{
    padding: 5%;
}

.col-lg-4{
    padding: 5% 2%;
}

@media (max-width: 1080px){

    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);

    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 5% 20%;
}

.cta-h3{
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 4%;   
}
@media (min-width: 508px){
.download-button-2{
    margin: 0 1%;
}
}


#footer{
    text-align: center;
    background-color: #fff;
    padding: 5% 0;
}

.fa-footer{
    padding: 1% 0.5%;
}

.active{
    color: white !important;
}
.active.scrolled{
    color: black !important;
}
.active2{
    color: white !important;
}
.active2.scrolled{
    color: black !important;
}
.active2.scrolled1{
    color: white !important;

}
.active3{
    color: white !important;
}
.active3.scrolled{
    color: black !important;
}
.active3.scrolled1{
    color: white !important;

}